<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxS0xvULy2Q4JhEs13ECxXeoJpz3SoO00</string>
	<key>GCM_SENDER_ID</key>
	<string>902511711621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ute.edu.sv.projectETPS04</string>
	<key>PROJECT_ID</key>
	<string>projectetps04</string>
	<key>STORAGE_BUCKET</key>
	<string>projectetps04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902511711621:ios:f7c296bd4d2ce55240a0ec</string>
</dict>
</plist>